#controlPanel {
    display: block;
    background-color: rgb(80, 80, 80);
    transition: 0.5s;
    height: 100vh;
    width: 75vw;
    z-index: 1;
    overflow-x: hidden;
    position: fixed;
}

#panel {
    display: block;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

#controls {
    position: relative;
    top: 50%;
    left: 3%;
    text-align: left;
}

label {
    color: white;
}

* {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.Sliders {
    width: 70%;
}

.SliderWithDisplay {
    margin-bottom: 15vh;
}